.center-column {
  margin: 10px;
}

.landing-header {
  font-size: 5em;
}

.introduction {
  margin-bottom: 0px;;
}

.landing-description {
  background-color: rgb(213, 213, 213);
  border-radius: 10px;
  padding: 15px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.5em;
}

.lets-jam {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Gloria Hallelujah', cursive;
}

.sign-up {
  margin-top: 10px;
  font-size: 2em;
  text-align: center;
}

.register-button {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: solid 3px rgb(106, 106, 215);
  border-radius: 25px;
  font-family: 'Quattrocento Sans', sans-serif;
}